@import "./src/style/null.css";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
}

/* HEADER */

header {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

  position: relative;
  z-index: 10;
}

.header__burger {
  display: none;
}

header .header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container .header__logo {
  width: 250px;
}

.header__mob-nav {
  display: none;
  position: absolute;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__list {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header__list .list__item {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header__list .list__item a {
  display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный 
    line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
}

.header__list .list__item a:after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: #c44320; /*цвет фона элемента*/
  transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.header__list .list__item a:hover:after{
  width: 100%;
}

@media (max-width: 768px) {
  header .header__container {
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    position: relative;
  }
  main {
    position: relative;
  }

  .header__list {
    display: none;
  }

  .container {
    padding: 0 5px;
  }

  .header__container .header__logo {
    width: 180px;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;

    cursor: pointer;
  }
  .header__burger .line {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: all 0.3s;
  }

  .header__burger.active .line:nth-child(1) {
    transform: rotate(40deg);
    transform-origin: 0%;
  }

  .header__burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .header__burger.active .line:nth-child(3) {
    transform: rotate(-40deg);
    transform-origin: 0%;
  }
}
@media (max-width: 500px) {
  .header__container .header__logo {
    width: 35%;
  }
}

/* MAIN */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > * {
  min-width: 0;
}

.mob-nav {
  display: none;
  justify-content: center;

  padding-top: 25px;

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.mob-nav:active{
  color: #c44320;
}

.mob-nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
}

/* SWIPER */

.swiper{

  margin-top: 50px;
  margin-bottom: 30px;
  

  max-width: 1160px;
  max-height: 650px;
}

.s-button-next{
  position: absolute;
  top: 50%;
  left: 100%;

  width: 10px;
  height: 3px;

  background-color: black;
  z-index: 10;
  
}

.s-button-prev{
  position: absolute;
  top: 50%;
  right: 100%;

  width: 10px;
  height: 3px;

  background-color: black;
  z-index: 10;
}

.swiper-pagination-bullet{
  width: 8px !important; 
  height: 8px !important;

  border-radius: 50% !important;

  background-color: #c44320 !important;
  transition: all 0.7s;

  cursor: pointer;
}

.swiper-pagination-bullet:hover{
  background-color: #5c1705 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #5c1705 !important;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
}


.main__text{
  padding: 0 195px;
  margin-top: 140px;
  margin-bottom: 140px;

  font-size: 30px;
  line-height: 1.45;
  font-weight: 300;

  text-align: center;
}


/* О НАС */

#about-us{
  background-color: #f5f5f5;
}
.about-us{
  display: flex;
  align-items: center;
  
}

.about-us__img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./src/img/about-us/about-us-img.jpg");

  height: 560px;
  width: 50%;
  
}

.about-us__text{
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 50%;
}

.about-us__text .text__title{
  width: fit-content;
}

.about-us__text .text__title ::after{

  content: "";
  display: block;

  width: 80%;
  height: 4px;

  background-color: #c44320;

  margin-top: 15px;
}


/* DELIVERY */

.delivery{
  text-align: center;
}

@media (max-width: 1024px) {
  .main__text{

    margin-top: calc( 30px + (140 - 30) * ((100vw - 320px) / (1200 - 320)));
    padding: 0 calc( 30px + (140 - 30) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: calc( 30px + (140 - 30) * ((100vw - 320px) / (1200 - 320)));

    font-size: calc( 15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
  }

}
@media (max-width: 768px) {
  .mob-nav {
    display: flex;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    z-index: 3;

    transition: right 0.7s;
  }

  .mob-nav.active {
    right: 0%;
  }

  .about-us{
    flex-direction: column;
  }
}
@media (max-width: 500px) {
}


