//====================================================================================================

.header {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    width: 100%;
    padding-bottom: 15px;
  }
}

.header__logo {
  width: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.header__nav {
  width: 100%;

  .nav__list {
    display: flex;
    justify-content: space-between;

    width: 100%;
    cursor: pointer;

    a {
      position: relative;
    }
    a:after {
      display: block;
      position: absolute;
      left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
      width: 0; /*задаём длинну линии до наведения курсора*/
      height: 3px; /*задаём ширину линии*/
      background-color: #c44320; /*задаём цвет линии*/
      border-bottom-right-radius: 15%;
      border-top-right-radius: 15%;
      content: "";
      transition: width 0.3s ease-out; /*задаём время анимации*/
    }

    a:hover:after,
    a:focus:after {
      width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }
	a:active{
		p{
			color: #c44420a9;
		}
	}

    .nav__item {
      font-size: 18px;
      font-weight: 400;

      text-transform: uppercase;
    }
  }
}

//====================================================================================================

//Burger
